.black-box {
    width: 60%;  
    height: 60%; 
    background-color: black;
    box-shadow: 0 0 20px yellow; 
    flex-direction: column;
    display: flex;
    align-items: center;
}
.teksti {
    margin-top: 10%;
    color: black;
    text-align: center;
    background-color: rgb(225, 173, 18);
    border-radius: 10px;
    width: 35%;
}

.teksti1 {
    margin-top: 1%;
    color: black;
    text-align: center;
    background-color: rgb(225, 173, 18);
    border-radius: 10px;
    width: 50%;
}
.dropdown {
    padding-top: 5%;
    
}

.btn {
    margin-top: 5%;
}
p{
    background-color: rgb(209, 172, 23);
    border-radius: 10px;
    width: 45%;

}